# Base de datos Neon PostgreSQL
DATABASE_URL=postgresql://usuario:password@host.neon.tech/neondb?sslmode=require&channel_binding=require

# Configuración de la aplicación
PORT=3000

# CORS - Frontend URL
FRONTEND_URL=http://localhost:4200