# Base de datos Neon PostgreSQL
DATABASE_URL=postgresql://usuario:password@host.neon.tech/neondb?sslmode=require&channel_binding=require

# Configuración de la aplicación
PORT=3000
NODE_ENV=production
SESSION_SECRET=JosueAS170705
SESSION_SAME_SITE=lax

# CORS - Frontend URL
FRONTEND_URL=http://localhost:4200
# Puedes usar una lista separada por comas para entornos múltiples
# FRONTEND_URLS=https://tu-app.vercel.app,https://tu-preview.vercel.app